<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_splash_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_splash_icon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="m"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="play.dhis2.org"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.customUsecase.CustomUsecaseActivity"
            android:label="@string/your_usecase" />
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.programs.ProgramsActivity"
            android:label="@string/title_activity_programs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.trackedEntityInstances.TrackedEntityInstancesActivity"
            android:label="@string/title_activity_tracked_entity_instances"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.trackedEntityInstances.search.TrackedEntityInstanceSearchActivity"
            android:label="@string/title_activity_tracked_entity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.enrollmentForm.EnrollmentFormActivity"
            android:label="@string/title_activity_enrollment_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.dataSets.DataSetsActivity"
            android:label="@string/title_activity_data_sets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.dataSets.instances.DataSetInstancesActivity"
            android:label="@string/title_activity_data_set_instances"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.d2Errors.D2ErrorActivity"
            android:label="@string/title_activity_d2_errors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.foreignKeyViolations.ForeignKeyViolationsActivity"
            android:label="@string/title_activity_fk_violations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.codeExecutor.CodeExecutorActivity"
            android:label="@string/code_executor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.eventForm.EventFormActivity"
            android:label="@string/title_activity_event_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.events.EventsActivity"
            android:label="@string/title_activity_events"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.dataSets.instances.data_set_form.DataSetFormActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
            android:exported="true"/>
    </application>

</manifest>